<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Paper</title>
</head>

<body>
    <div class="que-div">
        <div class="que">
            {{ que | upper }}
        </div>
        <div class="que-options">
            {% for option in options %}
            <div><input type="radio" name="answer">{{option}} </div>
            {% endfor %}
        </div>
        <div><input type="submit" value="Submit"></div>
    </div>
    <div>{{options | random}}</div>
</body>

</html>